@import '../../../config-scss/rem-calc.scss';

:host {
    form {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: rem-calc(15) 20px;
        background-color: rgba(255, 255, 255, 0.2);

        border-radius: 10px;

        input {
            width: 95%;
            background: none;
            border: none;

            font-size: 18px;
            color: var(--branco);

            &::placeholder {
                color: var(--branco);
            }
        }
    }
}
